/* header banner */
.header-background {
    padding: 1rem 0;
    background-color: var(--bg-color);
}

.logo-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.logo-banner .logo-container {
    max-width: 500px;
}

.logo-banner .logo-container .logo {
    width: 100%;
}

.logo-banner .tele-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.logo-banner .tele-container .text-container > * {
    margin: 0.25rem auto;
}

/* navbar */
nav {
    background-color: var(--base-blue);
}

nav .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar a {
    padding: 1rem;
    background-color: var(--base-blue);
    color: var(--base-yellow);
}

nav .navbar a:hover {
    background-color: var(--base-yellow);
    color: var(--base-blue);
}

/* menu button */
[aria-controls="navbarDropdown"] {
    display: none;
}

.navbar-toggler {
    position: absolute;
    right: var(--size-20);
    top: var(--size-10);
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    color: var(--white);
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}

/* Mobile Home Anchor */
#mobile-home {
    display: none;
}

/* hero banner */
.hero {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.hero-bg {
    position: relative;
    transition: all .5s;
    background-image: url('../assets/truck.jpg');
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat ;
    height: 100%;
    width: 100%;
}

.hero:hover .hero-bg,
.hero:focus .hero-bg {
    transform: scale(1.05);
}

.hero-bg .text-container {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    bottom: 25%;
    padding: 1rem;
    text-align: center;
    background-color: rgba(247, 247, 247, 0.95);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-bg .text-container h1 {
    font-size: 1.5rem;
}

/* Service Section */
.service-container {
    background-color: var(--bg-color);
}

.services-and-about-container h2 {
    color: var(--base-blue);
    padding-top: 1rem;
}

.services-and-about-container img {
    padding-top: 1.25rem;
    float: right;
    margin-left: 1rem;
}

.clearfix {
    overflow: auto;
  }

/* testimonial container */

.testimonial-bg-container {
    content: '';
    background: linear-gradient(rgba(16, 16, 16, 0.8), rgba(16, 16, 16, 0.8)), url('../assets/carpet-gea7057084_1920.jpg') no-repeat top center;
    /* opacity: 0.25; */
}

.testimonial-container > * {
    color: var(--bg-color);
}

.testimonial-container h2 {
    padding-top: 1rem;
    margin-top: 0;
}

.reviews {
    text-align: center;
    position: relative;
    margin: 3rem 0;
    overflow: hidden;
}

.reviews .review-title {
    font-size: 18px;
    font-weight: 600;
}

.review-carousel {
    display: flex;
    justify-content: center;
    height: 250px;
    margin: 200px 0 50px;
    pointer-events: none;
}

.review-carousel .review-item {
    background: var(--bg-color);
    color: var(--base-black);
    max-width: 450px;
    padding: 2.5rem;
    border-radius: 24px;
    width: 100%;
    box-shadow: 0 22px 34px rgb(22 28 45 / 18%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.review-item.active {
    transform: translate(0, -10%);
    z-index: 10;
    opacity: 1;
}

.review-item.previous,
.review-item.next {
    opacity: 0.25;
}

.review-item.previous {
    transform: translateX(-75%);
}

.review-item.next {
    transform: translateX(75%);
}



.review-item .review-text {
    padding-bottom: 2.5rem;
    text-align: left;
}

.review-author {
    display: flex;
    text-align: left;
    align-items: center;
}

.review-author .avatar {

    width: 46px;
    height: 46px;
    margin-right: 12px;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.details .name{
    font-size: 18px;
    line-height: 1.5;
}

.details .company {
    color: #6b6b6b;
}

.slide-control-container {
    margin-top: 50px;
}

.slide-control-container button {
    background: none;
    border: none;
    outline: none;
    color: var(--color-text);
    font-size: 32px;
    transition: all 0.3s ease-in-out;
    opacity: 0.75;
}

.slide-control-container button:hover {
    opacity: 1;
}

.slide-control-container button:nth-child(1) {
    padding-right: 10px;
}

.slide-control-container button:nth-child(2) {
    padding-left: 10px;
}